
.cart-item-enter, .cart-item-appear {
    transform: translateX(100%);
}

.cart-item-enter-active, .cart-item-appear-active {
    transform: translateX(0);
    transition: all 500ms;
}

.cart-item-exit {
    transform: translateX(0);
}

.cart-item-exit-active {
    transform: translateX(100%);
    transition: all 500ms;
}
